<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
  <meta charset="UTF-8">
  <title>購物車</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="../bootstrap3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" type="text/css" href="../css/head_footer.css"/>
  <link rel="stylesheet" type="text/css" href="../css/font_row.css"/>
  <link rel="stylesheet" type="text/css" href="../css/product_detail.css"/>
  <link rel="stylesheet" type="text/css" href="../css/shopping_list.css"/>
  <link rel="stylesheet" type="text/css" href="../css/foot.css"/>
  <script src="../vue/vue.js"></script>
</head>
<body>
<!--頁眉開始-->
<div class="container" >
  <ul class="nav nav-tabs page_top" th:replace="/index/index :: head_nav">
    <li role="presentation" ><a href="../index/index.html">首頁</a></li>
    <li role="presentation"><a href="index_dog.html">狗狗商品</a></li>
    <li role="presentation"><a href="index_cat.html">貓貓商品</a></li>
    <li class="pull-right" role="presentation"><a href="register.html">註冊</a></li>
    <li class="pull-right" role="presentation"><a href="login.html">登入</a></li>
  </ul>
</div>
<!--頁眉結束-->
<!--頭部開始-->
<header>
  <div class="container">
    <h1 class="h1_logo">
      <b>寵物超市</b><img class="img-responsive index_logo" src="../img/logoimg.jpg">
    </h1>
    <ul class="ul_header" th:replace="/index/index :: tags_nav">
      <li><a href="../product/product_food.html"><b>飼料</b></a></li>
      <li><a href="../product/product_snack.html"><b>零食</b></a></li>
      <li><a href="../product/product_can.html"><b>罐罐</b></a></li>
      <li><a href="../product/product_toy.html"><b>玩具</b></a></li>
      <li><a href="../product/product_pretty.html"><b>美容護理</b></a></li>
      <li><a href="../product/product_outdoor.html"><b>外出用品</b></a></li>
    </ul>
    <div class="header_right">
      <div class="dropdown user" th:replace="/index/index_user :: userInfo">
        <button class="dropdown-toggle" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
          <span><i class="fa fa-user"></i> &nbsp&nbsp會員: 潘昭廷</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
          <li><a href="#">更新會員資料</a></li>
          <li><a href="#">訂單查詢</a></li>
          <li><a href="#">登出</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--頭部結束-->
<!--主體開始-->
<section>
  <div class="container" id="showOrderApp">
    <h1 class="text-center">訂單詳情</h1>
    <table class="page-header table table-hover">
      <tr>
        <td>訂單編號</td>
        <td v-text="orderInfo.orderNum">123456</td>
      </tr>
      <tr>
        <td>訂單日期</td>
        <td v-text="orderInfo.createtime">2021/12/20</td>
      </tr>
      <tr>
        <td>聯繫電話</td>
        <td v-text="orderInfo.phone">0988907316</td>
      </tr>
      <tr>
        <td>收貨地址</td>
        <td>
          <span v-text="orderInfo.zipcode">100</span>
          <span v-text="orderInfo.city">台北市</span>
          <span v-text="orderInfo.district">中正區</span>
          <span v-text="orderInfo.detail">忠孝西路一段102號10樓</span>
        </td>
      </tr>
      <tr>
        <td>付款狀態</td>
        <td v-text="orderInfo.payStatus">已付款</td>
      </tr>
      <tr>
        <td>總金額</td>
        <td v-text="total"></td>
      </tr>
    </table>
    <table class="table table-bordered table-hover">
      <tr>
        <td></td>
        <td>商品名稱</td>
        <td>商品單價</td>
        <td>商品數量</td>
        <td>商品小計</td>
      </tr>
      <tr v-for="(product,index) in products">
        <td v-text="index"></td>
        <td v-text="product.title"></td>
        <td v-text="product.price"></td>
        <td v-text="product.count"></td>
        <td v-text="product.onePrice"></td>
      </tr>
    </table>
    <button v-show="orderInfo.payStatus==='未付款'" @click="payPalOrder()">PayPal付款</button>
  </div>
</section>
<!--主體結束-->
<!--頁腳開始-->
<footer class="well" th:replace="/index/index :: foot">
  <div class="container">
    <ul class="footer_ul">
      <li><b>初次購物</b></li>
      <li><a href="shoppingnotice.html">購物須知</a></li>
      <li><a href="returnnotice.html">退貨須知</a></li>
    </ul>
    <ul class="footer_ul">
      <li><b>聯絡我們</b></li>
      <li class="footer_ul_li">地址:100台北市中正區忠孝西路一段102號10樓</li>
      <li class="footer_ul_li">電話:080 077 7100</li>
      <li class="footer_ul_li">信箱:qwer747485@gmail.com</li>
      <li class="footer_ul_li">服務時間:週一至周五 09:00-21:00</li>
    </ul>
  </div>
</footer>
<!--頁腳結束-->
</body>
<script type="text/javascript" src="../bootstrap3/jquery.min.js"></script>
<script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="../bootstrap3/js/holder.js"></script>
<script type="text/javascript" src="../bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript" src="../bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="../bootstrap3/js/respond.min.js"></script>
<script type="text/javascript" src="../jq/shoppinglist.js"></script>
<script type="text/javascript" src="../jq/head.js"></script>
<script type="text/javascript" src="../jq/userInfo.js"></script>
<script type="text/javascript" src="../js/tags.js"></script>
<script type="text/javascript" src="../js/utils.js"></script>
<script type="text/javascript" src="../js/user_info.js"></script>
<script type="text/javascript" src="../js/showOrder.js"></script>

</html>